@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./markdown.css";
* {
  /* font-family: "Hind"; */
  font-family: "Work Sans", sans-serif;
}

.hero-font {
  font-family: "Tektur", sans-serif;
  color: chartreuse;
  text-shadow: 0 0 100px #80ff0092;
}

.dark-mode {
  /* background: #2727279e; */
  /* background: #151515; */
  /* background: #1c1c1c; */
  background: #0e0e0e;
}

body {
  color: white;
  overscroll-behavior-y: none;
  /* background: rgb(0,0,0);
  background: linear-gradient(108deg, rgba(0,0,0,1) 0%, rgba(12,22,0,1) 100%); */

  background-image: url(../public/images/bggrad.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../public/images/noise.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none; 
  z-index: 9999; 
  opacity: .2;
} */

#info {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
  pointer-events: none;
  text-shadow: 1px 1px 2px black;
}

.scanlines {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.6;
  /* will-change: opacity; */
  /* animation: opacity 3s linear infinite; */

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to bottom,
      transparent 50%,
      rgba(0, 0, 0, 0.5) 51%
    );
    background-size: 400% 4px;
    will-change: background, background-size;
    /* animation: scanlines .2s linear infinite; */
  }
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(../public/images/noise.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
  z-index: 9999;
  opacity: .1;
}


.intro-wrap:first-child {
  width: 70%;
}

.vhs-text {
  animation: rgbText 1s steps(9) 0s infinite alternate;
}

.vhs-back {
  background: rgb(0 0 0 / 19%);
}

.play {
  will-change: text-shadow;
  animation: rgbText 2s steps(9) 0s infinite alternate;

  .char {
    will-change: opacity;
    animation: type 1.2s infinite alternate;
    animation-delay: calc(60ms * var(8));
  }
}

.intro-wrap {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;

  .noise {
    &:before {
      background-size: 100%;
    }
  }
}

@keyframes type {
  0%,
  19% {
    opacity: 0;
  }
  20%,
  100% {
    opacity: 1;
  }
}

@keyframes scanlines {
  from {
    background: linear-gradient(
      to bottom,
      transparent 50%,
      rgba(0, 0, 0, 0.5) 51%
    );
    background-size: 100% 4px;
  }
  to {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5) 50%,
      transparent 51%
    );
    background-size: 100% 4px;
  }
}

@keyframes rgbText {
  0% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
      1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8),
      0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8),
      0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
  }
  25% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
      1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8),
      0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8),
      0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
  }
  45% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
      1px -1px 8px rgba(255, 255, 235, 0.7), 5px 0 1px rgba(251, 0, 231, 0.8),
      0 5px 1px rgba(0, 233, 235, 0.8), -5px 0 1px rgba(0, 242, 14, 0.8),
      0 -5px 1px rgba(244, 45, 0, 0.8), 5px 0 1px rgba(59, 0, 226, 0.8);
  }
  50% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
      1px -1px 8px rgba(255, 255, 235, 0.7), -5px 0 1px rgba(251, 0, 231, 0.8),
      0 -5px 1px rgba(0, 233, 235, 0.8), 5px 0 1px rgba(0, 242, 14, 0.8),
      0 5px 1px rgba(244, 45, 0, 0.8), -5px 0 1px rgba(59, 0, 226, 0.8);
  }
  55% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
      1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 3px rgba(251, 0, 231, 0.8),
      0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8),
      0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
  }
  90% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
      1px -1px 8px rgba(255, 255, 235, 0.7), -5px 0 1px rgba(251, 0, 231, 0.8),
      0 5px 1px rgba(0, 233, 235, 0.8), 5px 0 1px rgba(0, 242, 14, 0.8),
      0 -5px 1px rgba(244, 45, 0, 0.8), 5px 0 1px rgba(59, 0, 226, 0.8);
  }
  100% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
      1px -1px 8px rgba(255, 255, 235, 0.7), 5px 0 1px rgba(251, 0, 231, 0.8),
      0 -5px 1px rgba(0, 233, 235, 0.8), -5px 0 1px rgba(0, 242, 14, 0.8),
      0 5px 1px rgba(244, 45, 0, 0.8), -5px 0 1px rgba(59, 0, 226, 0.8);
  }
}

@keyframes type {
  0%,
  19% {
    opacity: 0;
  }
  20%,
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0.6;
  }
  20% {
    opacity: 0.3;
  }
  35% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes noise {
  0%,
  100% {
    background-position: 0 0;
  }
  10% {
    background-position: -5% -10%;
  }
  20% {
    background-position: -15% 5%;
  }
  30% {
    background-position: 7% -25%;
  }
  40% {
    background-position: 20% 25%;
  }
  50% {
    background-position: -25% 10%;
  }
  60% {
    background-position: 15% 5%;
  }
  70% {
    background-position: 0 15%;
  }
  80% {
    background-position: 25% 35%;
  }
  90% {
    background-position: -10% 10%;
  }
}

.custom-hr {
  /* border: 1px solid #f2f2f2; */
  border: 1px solid #f2f2f22e;
  height: 1px;
  /* width: 90%; */
  align-items: center;
  margin: 2em;
}

/* .header-background {
  background: #00000047;
} */

.text-slate-600 {
  color: chartreuse;
}

.profile-icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  transition: 0.5s;
}
/* 
.profile-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
} */

.bg-accent {
  background: #000000;
  width: 10em;
}

.text-accent {
  color: rgb(37 99 235);
}

.custom-button {
  font-size: 1.2em !important;
  color: #7c7c7c;
  font-weight: 500;
}

.hero-button {
  font-size: 1.2em !important;
  font-weight: 500;
  /* background: linear-gradient(45deg, #afc8fb, #dcf5fd); */
  background: rgb(10, 102, 194);
  color: white;
  padding: 0.8em 1.2em;
  text-align: center;
  line-height: 1rem;
}

.gap-4 {
  gap: 3rem;
}

.rounded-xl {
  border-radius: 2rem;
}

.p-5 {
  padding: 2rem;
}

.arrange-card {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.custom-icon {
  font-size: 2em;
  font-weight: 500;
}

.gradient-circle {
  position: absolute;
  pointer-events: none;
  z-index: 100;
  top: -30px;
  height: 40px;
  width: 100vw;
  opacity: 0.5;
  filter: blur(40px);
  /* background: radial-gradient(
    circle,
    rgba(248, 107, 223, 1) 0%,
    rgba(107, 107, 248, 0.8) 100%
  ); */
}

.custom-drop {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 85vw;
}

.gradient-circle-bottom {
  position: absolute;
  pointer-events: none;
  z-index: 100;
  bottom: -20px;
  height: 30px;
  width: 100vw;
  opacity: 0.5;
  filter: blur(40px);
  /* background: radial-gradient(
    circle,
    rgba(248, 107, 223, 1) 0%,
    rgba(107, 107, 248, 0.8) 100%
  ); */
}

.gradient-shadow:hover::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transform: translate3d(0px, 20px, 0) scale(0.95);
  transition: opacity 0.3s;
  filter: blur(20px);
  opacity: var(0.7);
  border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/

.gradient-shadow:hover::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

.gradient {
  background: linear-gradient(45deg, #afc8fb, #dcf5fd);
}
